.yada_header {
	background: #000;
	display: flex;
	flex: 0 0 auto;
	height: 3.5rem;
	padding: 0.625rem;

	&-icon {
		background: url('../images/yada-yada.png') no-repeat center center;
		background-size: contain;
		border-radius: 1.125rem;
		flex: 0 0 auto;
		height: 2.25rem;
		width: 2.25rem;
	}

	&-logout {
		background: url('../images/logout.svg') no-repeat center center;
		background-size: contain;
		flex: 0 0 auto;
		height: 1.25rem;
		margin: 0.5rem 0;
		width: 1.25rem;
	}

	&-user {
		display: flex;
		flex: 1 1 auto;
		margin-left: 0.75rem;

		&-name {
			color: #fff;
			font-size: 1rem;
			font-weight: bold;
			line-height: 1;
			padding: 0.625rem 0;
		}

		&-status {
			background: #36a410;
			border-radius: 0.3125rem;
			height: 0.625rem;
			margin: 0.8125rem 0.375rem 0.9375rem 0;
			width: 0.625rem;
		}
	}
}
