.yada_submit-message {
	background: #000;
	height: 7.8125rem;
	padding: 1.25rem;

	textarea {
		border: none;
		border-radius: 0.3125rem;
		color: #000;
		display: block;
		height: 100%;
		padding: 0.625rem;
		resize: none;
		width: 100%;
	}
}
