<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="initial-scale=1">

		<title>{{ title }}</title>
		<link rel="icon" href="/favicon.ico?" type="image/x-icon">

		<meta name="keywords" content="">
		<meta name="description" content="">

		<meta property="og:title" content="Yada Yada">
		<meta property="og:description" content="Yada Yada">
		<meta property="og:site_name" content="Yada Yada">
	</head>
	<body class="yada">
		<h2>500 - Oops! Internal server error occured</h2>
	</body>
</html>
